/**
This skin is the property of its owner and should not be duplicated or
reproduced with the express written consent of the author. Edits to this skin
are permissible if the original credits stay intact.

Author: David VanScott [ davidv@anodyne-productions.com ]
File: skins/default/style-clickmenu.css
Purpose: Stylesheet that controls the look and feel of the site

Skin Version: 2.5
Last Modified: 2008-04-05 1538 EST
**/

span.cmDiv
{
	border: none;
	width: 10%;
	
	/* ### START EDIT ### */
	/* background color of the containing span class */
	background-color: #000;
	/* ### END EDIT ### */
}
.clickMenu
{
	margin: 0;
	padding: 0;
	cursor: default;
}
.clickMenu, .clickMenu ul
{
	list-style: none;
	font-size: 90%;
}
.clickMenu ul
{
	margin: 0;
	padding: 2px;
	min-width: 100px; /* ie doesnt know this :/ */
	//float: left;/*ie again*/
	//width: 100%;/*and again*/
	
	/* ### START EDIT ### */
	/* background color and border color of the flyout menu */
	border: 1px solid #111;
	background-color: #090909;
	/* ### END EDIT ### */
}
.clickMenu div.outerbox
{
	display: none;
	min-width: 160px; /* firefox produces animation-flickering when the box is bigger than this :/ */
}
.clickMenu div.inner
{
	//top: 20px; /* for ie */
	margin: 0;
	
	/* ### START EDIT ### */
	/* changing which direction the menu flies out at */
	/* if you want the menu to fly out to the right (arrow at the upper left corner), use LEFT */
	/* if you want the menu to fly out to the left (arrow at the upper right corner), use RIGHT */
	left: 0;
	/* ### START EDIT ### */
}
.clickMenu div.inner div.outerbox
{
	margin: 0;
	left: 98px;
	//left: 90px; /* for ie */
	top: -3px;
}
.clickMenu li
{
	position: relative;
	padding: 0 20px 0 2px;
	/*white-space: nowrap; does not really work in ie */
}
.clickMenu li.main
{
	float: left;
	padding: 0 3px;
	//height: 20px; /* for ie */
	
	/* ### START EDIT ### */
	/* background color behind the arrow */
	background-color: #000;
	/* ### END EDIT ### */
}
.clickMenu li.main li
{
	z-index: 2;
	min-width: 78px;
}
.clickMenu li.hover
{
	z-index: 1 !important; /* the hover z-index has to be below the normal one the hovering items may be drawn over a submenu */
	cursor: pointer;
	
	/* ### START EDIT ### */
	/* color of the hover state in the submenu */
	background-color: #111;
	/* ### END EDIT ### */
}
.clickMenu a
{
	text-decoration: none;
	cursor: pointer;
	
	/* ### START EDIT ### */
	/* color of the links in the flyout menu ... to have them match the site's links, remove these */
	color: #eee;
	/* ### END EDIT ### */
}

/* this keeps the menu from showing prematurely */
ul.hidemenu { display: none; }

/* this keeps the menu from showing a stray bullet */
ul#list { list-style: none; }